<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="home.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="order.css">
  <style>
    #ul2 img {

      height: 35rem;
      top: -10rem;

    }

    .cancelOder,
    .print {
      border: 1px solid #28a745;
      /* Set the border color */
      box-sizing: border-box;
      box-shadow: none;
      color: #28a745;
      padding: 0 1rem;
      margin-left: .2rem;
      transition: all 0.2s;
    }
  </style>
  <script src="cart.js" defer></script>
</head>

<body>
  <header style="background-image: none; height: fit-content">
    <nav style="background-color: rgba(1, 105, 121, 0.5)" id="nav">
      <a id="logo"><img src="logo.png" alt="" /></a>
      <ul id="ul1">
        <li>
          <form id="search_bar" action="" method="">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
            <button id="button" class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
        </li>

        <li><a href="index_log">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="#contacts">Contact</a></li>
        <li>
          <form id="logout" action="/logout" method="POST">
            <button id="button" class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Logout
            </button>
          </form>
        </li>
        <li id="cart">
          <a href="cart"><img src="Shopping_cart_icon.svg" alt="" /></a>
        </li>
      </ul>
    </nav>
  </header>


  <div id="products">
    <% for (let t=0; t < alldata.length / 2; t++) { %>
      <% const t1=alldata[t]; %>
        <% const t2=alldata[Math.ceil(alldata.length / 2) + t]; %>
          <ul id="ul2" class="corder">
            <li style="height: 8rem;"><img style="scale: .5; margin-top: 0;" src="<%= t1.image_add %>" alt="" /></li>
            <li style="height: fit-content;">
             <br><br><br><br><br><br>
              <ul style="list-style: none;">
                <li>
                  <p>Seller</p>
                </li>
                <li>
                  <h2>
                    <%= t2.name %>
                  </h2>
                </li>
              </ul>
            </li>
            <hr>
            <li>
              <p>Tracking Number: <%= t1.tracking_number %>
              </p>
            </li>
            <hr>
            <li>
              <h2>Status of Order.</h2>
            </li>
            <li>
              <p>
                <%= t1.customer_status %>
              </p>
            </li>
            <li>

              
              <button class="print">Print Order</button>
              <button style="padding: 0 .7rem;" name="tracking_number" value="<%= t1.tracking_number %>"
                class="cancelOrder">Cancel Order</button>

            </li>
          </ul>


          <div class="report" style="display: none;">



            <div style="display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;" class="header">
              <div class="logo">
                <img style="max-width: 150px;" src="logo.png" alt="E-commerce Logo">
              </div>
            </div>
            <div style="margin-top: 20px;" class="customer-info">
              <p><strong>Customer Name:</strong>
                <%= t1.name %>
              </p>
              <p><strong>Customer Address:</strong>
                <%= t1.adress1 %>
              </p>
            </div>
            <table style="width: 100%;
            border-collapse: collapse;
            margin-top: 20px;" class="table">
              <thead>
                <tr>
                  <th style="border: 1px solid #000;
      padding: 8px;
      text-align: center;">Serial No</th>
                  <th style="border: 1px solid #000;
      padding: 8px;
      text-align: center;">Product Name</th>
                  <th style="border: 1px solid #000;
      padding: 8px;
      text-align: center;">Quantity</th>
                  <th style="border: 1px solid #000;
      padding: 8px;
      text-align: center;">Price</th>
                  <th style="border: 1px solid #000;
      padding: 8px;
      text-align: center;">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>

                  <td style="border: 1px solid #000;
      padding: 8px;
      text-align: center;">
                    <%= t+1 %>
                  </td>
                  <td style="border: 1px solid #000;
      padding: 8px;
      text-align: center;">
                    <%= t1.p_name %>
                  </td>
                  <td style="border: 1px solid #000;
      padding: 8px;
      text-align: center;">
                    <%= t1.quantity %>
                  </td>
                  <td style="border: 1px solid #000;
      padding: 8px;
      text-align: center;"><%= t1.price %> BDT
                  </td>
                  <td style="border: 1px solid #000;
      padding: 8px;
      text-align: center;"><%= t1.quantity*t1.price %> BDT
                  </td>
                </tr>
                <!-- Add more rows for other products if needed -->
              </tbody>
            </table>
            <div class="total">

              <p><strong>Total Amount:</strong>
                <%= t1.quantity*t1.price %> BDT
              </p>
            </div>
            <div class="thank-you">
              <p>Thank you for shopping with us!</p>
            </div>


          </div>
          <% } %>
  </div>

  <script>
    const print = document.querySelectorAll(".print");
    const section = document.querySelectorAll(".report");


    for (let i = 0; i < print.length; i++) {

      print[i].addEventListener("click", function () {
        const cashMemo = section[i].innerHTML;
        const printWindow = window.open('', '', 'width=800,height=600');
        printWindow.document.open();
        printWindow.document.write('<html><head><title>Print Cash Memo</title></head><body>');
        printWindow.document.write(cashMemo);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();
      });


    }



  </script>


<footer id="contacts">
  <%- include('footer.ejs') %>
</footer>
</body>

</html>